@import url(https://fonts.googleapis.com/css?family=Radley);

h1{
	font-size: 45px;
}
body{
	font-family: 'Radley', serif;
	margin:auto; 
	width:960px;
	min-height: 600px;
}
nav{
	top:0;
	background:#22293b; 
    min-height:30px; 
} 
ul{
	list-style-type:none; 
	margin:0;
}
li{
	display:inline-block; 
	margin-top:10px;
}
main{
	background-color: #e4ddb3;
	height:400px;
	width:600px; 
	margin-left:auto; 
	margin-right: auto;	

}