@import url(https://fonts.googleapis.com/css?family=Radley);

h3{
	text-align:left;
	top:200px;
	font-size: 2.5em;
}
body{
	font-family: 'Radley', serif;
	margin:auto; 
	width:960px;
	min-height: 600px;
}
nav{
	top:0;
	background:#22293b; 
    min-height:30px; 
} 
ul{
	list-style-type:none; 
	margin:0;
}
li{
	display:inline-block; 
	margin-top:10px;
}
main{
	background-image: url('../img/icon-bicycle.png');
	background-repeat: no-repeat;
	background-position: bottom 25px left 25px;
	background-color: #e4ddb3;
	height:400px;
	width:600px; 
	margin-left:auto; 
	margin-right: auto;	
}
form{
	
    float:right;
    clear:both;
	width: 50%
}
main{
	background-image: url('../img/icon-bicycle.png');
	background-repeat: no-repeat;
	background-position: bottom 25px left 25px;
	background-color: #e4ddb3;
	margin-left:auto; 
	margin-right: auto;	
	}
form{
	
    float:right;
    clear:both;
	width: 50%
	}
}
@media only screen and (max-width: 959px) and (min-width: 768px) {

nav {
	min-width: 100%;
}

main {
	min-width: 100%;
}

label {
	width: 65px;
	padding-left:20px;
}

.date {
	padding-right:190px;
	text-align:center;
}

}